/* Multiple selector
#myheading, p{
    background-color: aqua;
}
/* Nested  selector */
/* div p span{
    background-color: rgb(43, 0, 255);
    color: pink;
    font-size: 40px;

}
div{
    width: 300px;
    height: 600px;
} */ 

/* #myheading{
    background-color: lightseagreen;

}
p {
    background-color: rgb(255, 0, 0);
    background-color: rgba(255, 0, 0, 0.6);
}
h1{
    background-color: #333;
    color: #fff;
} */

 /* h1 {
    /* border-width: 3px;
    border-color: blueviolet;
    border-style: solid; */

    /* Shorthand property */

    /* border: 5px dashed gold;
    border-top-left-radius: 10px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 40px;


}
p{
    border-top: 3px solid palevioletred;
    border-bottom: 3px solid green;
    border-left: 5px solid gold;
    border-right: 5px solid green;
    border-radius: 10%;
}
.circle{
    width: 200px;
    height: 200px;
    background-color: violet;
    border: 10px solid blue;
    border-radius: 50%;
} */ 




